{% extends "./plantillas.html" %}
{% block contenido %}

<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionJugador/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" name="id_jug"  value="{{jugador.id_jug}}">
      <b>TIPO DE POSICION</b>
            <select class="form-control" name="id_pos" id="id_pos" required>
                <option value="">Seleccione el tipo de Posicion </option>
                {% for posicion in posiciones %}
                <option value="{{posicion.id_pos}}">
                    {{posicion.nombre_pos}}
                </option>
                {% endfor %}
            </select>
            <br>
            <b>EQUIPO</b>
            <select class="form-control" name="id_equi" id="id_equi" required>
                <option value="">Seleccione el equipo </option>
                {% for equipo in equipos %}
                <option value="{{equipo.id_equi}}">
                    {{equipo.nombre_equi}}
                </option>
                {% endfor %}
            </select>
            <script type="text/javascript">
                document.getElementById("id_pos").value="{{jugador.posicion.id_pos}}";
                document.getElementById("id_equi").value="{{jugador.equipo.id_equi}}";

              </script>
            <br>
            <br>
            <b>APELLIDO</b>
            <input type="text" name="apellido_jug" value="{{jugador.apellido_jug}}" id="apellido_jug" placeholder="Ingrese el apellido" class="form-control" required>
            <br>
            <b>NOMBRE</b>
            <input type="text" name="nombre_jug" value="{{jugador.nombre_jug}}" id="nombre_jug" placeholder="ingrese las nombre" class="form-control" required>
            <br>
            <b>ESTATURA</b>
            <input type="text" step="0.01" name="estatura_jug" value="{{jugador.estatura_jug}}" id="estatura_jug" placeholder="ingrese la estatura" class="form-control" required>
            <br>
            <b>SALARIO</b>
            <input type="text" step="0.01" name="salario_jug" value="{{jugador.salario_jug}}" id="salario_jug" placeholder="ingrese el salario" class="form-control" required>
            <br>
            <b>ESTADO</b>
            <input type="text" name="estado_jug" value="{{jugador.estado_jug}}" id="estado_jug" placeholder="ingrese el estado" class="form-control" required>
            <br>
      <center>
        <button type="submit" name="button" class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>

{% endblock %}
