{% extends "./plantillas.html" %}
{% block contenido %}

<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionPosicion/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <br>
      <input type="hidden" name="id_pos"  value="{{posicion.id_pos}}">
          <br>
          <b>NOMBRE</b>
          <input type="text" name="nombre_pos" value="{{posicion.nombre_pos}}" id="nombre_pos" placeholder="Ingrese el nombre" class="form-control" required>
          <br>
          <b>DESCRIPCION</b>
          <input type="text" name="descripcion_pos" value="{{posicion.descripcion_pos}}" id="descripcion_pos" placeholder="ingrese la descripcion" class="form-control" required>
          <br>
      <center>
        <button type="submit" name="button" class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>

{% endblock %}
