{% extends "./plantillas.html" %}
{% block contenido %}

<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionEquipo/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <br>
      <input type="hidden" name="id_equi"  value="{{equipo.id_equi}}">
      <br>
      <b>NOMBRE</b>
      <input type="text" name="nombre_equi" value="{{equipo.nombre_equi}}" id="nombre_equi" placeholder="Ingrese el nombre" class="form-control" required>
      <br>
      <b>SIGLAS</b>
      <input type="text" name="siglas_equi" value="{{equipo.siglas_equi}}" id="siglas_equi" placeholder="ingrese las siglas" class="form-control" required>
      <br>
      <b>FUNDACION</b>
      <input type="number" name="fundacion_equi" value="{{equipo.fundacion_equi}}" id="fundacion_equi" placeholder="ingrese la fundacion" class="form-control" required>
      <br>
      <b>REGION</b>
      <input type="text" name="region_equi" value="{{equipo.region_equi}}" id="region_equi" placeholder="ingrese la region" class="form-control" required>
      <br>
      <b>NUMERO DE TITULOS</b>
      <input type="number" name="numero_titulos_equi" value="{{equipo.numero_titulos_equi}}" id="numero_titulos_equi" placeholder="ingrese el numero de titulos" class="form-control" required>
      <br>
      <center>
        <button type="submit" name="button" class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>

{% endblock %}
