{% extends "./plantillas.html" %}
{% block contenido %}
{% load static %}


        <div class="container">
            <div class="page-header">
            <br>
              <h1 class="all-tittles text-center">BIENVENIDOS</h1>
            </div>
        </div>
        <section class="full-reset text-center" style="padding: 40px 0;">
            <article class="tile">
                <div class="full-reset">
                    <a class="tile-icon " href="{% url 'listaPosicion' %}">
                        <i class="fa fa-futbol-o "></i>
                    </a>
                </div>
                <div class=" all-tittles">Posicion</div>
 
            </article>
            <article class="tile">
                <div class="tile-icon full-reset">
                    <a class="tile-icon " href="{% url 'listaEquipo' %}">
                        <i class="fa fa-users"></i>
                    </a>
                </div>
                <div class=" all-tittles">Equipo</div>
                
            </article>
            <article class="tile">
                <div class="tile-icon full-reset">
                    <a class="tile-icon " href="{% url 'listaJugador' %}">
                        <i class="fa fa-users"></i>
                    </a>
                </div>
                <div class="all-tittles">Jugador</div>
                
            </article>
            
        </section>
        
    </div>
    

{% endblock %}