{% extends "./plantillas.html" %}
{% block contenido %}
{% load static %}
    <h1 class="fs-2 text-center" >Listado de Posicion</h1>
    <br> 
    <div class="d-grid gap-2 d-md-flex justify-content-md-end container">
      <button class="btn btn-outline-success me-md-5" onclick="mostrarFormulario()">Agregar Posicion </button>
    </div>   
    <div class="row" >
      <div class="col-md-4 container" id="formulario" style="display: none;">
        <form class="" action="/guardarPosicion/" method="post" enctype="multipart/form-data" id="frm_nuevo_posicion" >
          {% csrf_token %}
          <br>
          <b>NOMBRE</b>
          <input type="text" name="nombre_pos" value="" id="nombre_pos" placeholder="Ingrese el nombre" class="form-control" required>
          <br>
          <b>DESCRIPCION</b>
          <input type="text" name="descripcion_pos" value="" id="descripcion_pos" placeholder="ingrese la descripcion" class="form-control" required>
          <br>
          
          <center>
            <button type="submit" name="button" class="btn btn-outline-primary ">Guardar</button>
            
            <a href="/listaPosicion/" class="btn btn-outline-danger"> Cancelar </a>
          </center>
          <br><br><br>
        </form>
      </div>
    </div>
      <div class="row">
        <div class="col-md-8 container" >
          <table class="table table-striped table-hover " id="tbl_posiciones">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>NOMBRE</th>
                      <th>DESCRIPCION</th>
                      <th>ACCIONES</th>
                  </tr>
              </thead>
              <tbody>
                  {% for posicion in posiciones %}
                  <tr>
                      <td> {{posicion.id_pos}} </td>
                      <td>{{posicion.nombre_pos}}</td>
                      <td> {{posicion.descripcion_pos}} </td>
                      <td>
                        <a href="/editarPosicion/{{posicion.id_pos}}" class="btn btn-outline-success " >Editar</a>
                        <a href="javascript:void(0);" 
                        class="btn btn-outline-warning" 
                        onclick="eliminarPosicion('/eliminarPosicion/{{posicion.id_pos}}')">Eliminar</a>
              
                      </td>                      
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
      <script type="text/javascript" >
          function mostrarFormulario() {
            var formulario = document.getElementById('formulario');
            formulario.style.display = 'block';
        }
        
        function eliminarPosicion(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'Confirmacion',
              message: 'Esta seguro de eliminar la Posicion seleccionado',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
      
                  }],
              ],
              onClosing: function(instance, toast, closedBy){
                  console.info('Closing | closedBy: ' + closedBy);
              },
              onClosed: function(instance, toast, closedBy){
                  console.info('Closed | closedBy: ' + closedBy);
              }
          });
        } 
        
      </script>
{% endblock %}