{% extends "./plantillas.html" %}
{% block contenido %}
{% load static %}
    <h1 class="fs-2 text-center" >Listado de Equipos</h1>
    <br> 
    <div class="d-grid gap-2 d-md-flex justify-content-md-end container">
      <button class="btn btn-outline-success me-md-5" onclick="mostrarFormulario()">Agregar Equipo</button>
    </div>   
    <div class="row" >
      <div class="col-md-4 container" id="formulario" style="display: none;">
        <form class="" action="/guardarEquipo/" method="post" enctype="multipart/form-data" id="frm_nuevo_equipo" >
          {% csrf_token %}
          <br>
          <b>NOMBRE</b>
          <input type="text" name="nombre_equi" value="" id="nombre_equi" placeholder="Ingrese el nombre" class="form-control" required>
          <br>
          <b>SIGLAS</b>
          <input type="text" name="siglas_equi" value="" id="siglas_equi" placeholder="ingrese las siglas" class="form-control" required>
          <br>
          <b>FUNDACION</b>
          <input type="number" name="fundacion_equi" value="" id="fundacion_equi" placeholder="ingrese la fundacion" class="form-control" required>
          <br>
          <b>REGION</b>
          <input type="text" name="region_equi" value="" id="region_equi" placeholder="ingrese la region" class="form-control" required>
          <br>
          <b>NUMERO DE TITULOS</b>
          <input type="number" name="numero_titulos_equi" value="" id="numero_titulos_equi" placeholder="ingrese el numero de titulos" class="form-control" required>
          <br>
          
          <center>
            <button type="submit" name="button" class="btn btn-outline-primary ">Guardar</button>
            
            <a href="/listaEquipo/" class="btn btn-outline-danger"> Cancelar </a>
          </center>
          <br><br><br>
        </form>
      </div>
    </div>
      <div class="row">
        <div class="col-md-8 container" >
          <table class="table table-striped table-hover " id="tbl_equipos">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>NOMBRE</th>
                      <th>SIGLAS</th>
                      <th>FUNDACION</th>
                      <th>REGION</th>
                      <th>NUMERO DE TITULOS</th>
                      <th>ACCIONES</th>
                  </tr>
              </thead>
              <tbody>
                  {% for equipo in equipos %}
                  <tr>
                      <td>{{equipo.id_equi}} </td>
                      <td>{{equipo.nombre_equi}}</td>
                      <td>{{equipo.siglas_equi}} </td>
                      <td>{{equipo.fundacion_equi}} </td>
                      <td>{{equipo.region_equi}}</td>
                      <td>{{equipo.numero_titulos_equi}} </td>
                      
                      <td>
                        <a href="/editarEquipo/{{equipo.id_equi}}" class="btn btn-outline-success " >Editar</a>
                        <a href="javascript:void(0);" 
                        class="btn btn-outline-warning" 
                        onclick="eliminarEquipo('/eliminarEquipo/{{equipo.id_equi}}')">Eliminar</a>
              
                      </td>                      
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
      <script type="text/javascript" >
        function mostrarFormulario() {
          var formulario = document.getElementById('formulario');
          formulario.style.display = 'block';
        }
            
        function eliminarEquipo(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'Confirmacion',
              message: 'Esta seguro de eliminar el equipo seleccionado',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
      
                  }],
              ],
              onClosing: function(instance, toast, closedBy){
                  console.info('Closing | closedBy: ' + closedBy);
              },
              onClosed: function(instance, toast, closedBy){
                  console.info('Closed | closedBy: ' + closedBy);
              }
          });
        } 
      
    </script>
      
{% endblock %}