{% extends "./plantillas.html" %}
{% block contenido %}
{% load static %}
    <h1 class="fs-2 text-center" >Listado de Jugadores</h1>
    <br> 
    <div class="d-grid gap-2 d-md-flex justify-content-md-end container">
        <button class="btn btn-outline-success me-md-5" onclick="mostrarFormulario()">Agregar Jugador</button>
      </div>   
      <div class="row" >
        <div class="col-md-4 container" id="formulario" style="display: none;">
          <form class="" action="/guardarJugador/" method="post" enctype="multipart/form-data" id="frm_nuevo_jugador" >
            {% csrf_token %}
            <b>TIPO DE POSICION</b>
            <select class="form-control" name="id_pos" id="id_pos" required>
                <option value="">Seleccione el tipo de Posicion </option>
                {% for posicion in posiciones %}
                <option value="{{posicion.id_pos}}">
                    {{posicion.nombre_pos}}
                </option>
                {% endfor %}
            </select>
            <br>
            <b>EQUIPO</b>
            <select class="form-control" name="id_equi" id="id_equi" required>
                <option value="">Seleccione el equipo </option>
                {% for equipo in equipos %}
                <option value="{{equipo.id_equi}}">
                    {{equipo.nombre_equi}}
                </option>
                {% endfor %}
            </select>
            <br>
            <br>
            <b>APELLIDO</b>
            <input type="text" name="apellido_jug" value="" id="apellido_jug" placeholder="Ingrese el apellido" class="form-control" required>
            <br>
            <b>NOMBRE</b>
            <input type="text" name="nombre_jug" value="" id="nombre_jug" placeholder="ingrese las nombre" class="form-control" required>
            <br>
            <b>ESTATURA</b>
            <input type="number" step="0.01" name="estatura_jug" value="" id="estatura_jug" placeholder="ingrese la estatura" class="form-control" required>
            <br>
            <b>SALARIO</b>
            <input type="number" step="0.01" name="salario_jug" value="" id="salario_jug" placeholder="ingrese el salario" class="form-control" required>
            <br>
            <b>ESTADO</b>
            <input type="text" name="estado_jug" value="" id="estado_jug" placeholder="ingrese el estado" class="form-control" required>
            <br>
            
            <center>
              <button type="submit" name="button" class="btn btn-outline-primary ">Guardar</button>
              
              <a href="/listaJugador/" class="btn btn-outline-danger"> Cancelar </a>
            </center>
            <br><br><br>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 container" >
          <table class="table table-striped table-hover " id="tbl_jugadores">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>APELLIDO</th>
                      <th>NOMBRE</th>
                      <th>ESTATURA</th>
                      <th>SALARIO</th>
                      <th>ESTADO</th>
                      <th>POSICION</th>
                      <th>EQUIPO</th>
                      <th>ACCIONES</th>
                  </tr>
              </thead>
              <tbody>
                  {% for jugador in jugadores %}
                  <tr>
                      <td>{{jugador.id_jug}} </td>
                      <td>{{jugador.apellido_jug}}</td>
                      <td>{{jugador.nombre_jug}} </td>
                      <td>{{jugador.estatura_jug}} </td>
                      <td>{{jugador.salario_jug}}</td>
                      <td>{{jugador.estado_jug}} </td>
                      <td>{{jugador.posicion.nombre_pos}}</td>
                      <td>{{jugador.equipo.nombre_equi}} </td>
                      
                      <td>
                        <a href="/editarJugador/{{jugador.id_jug}}" class="btn btn-outline-success " >Editar</a>
                        <a href="javascript:void(0);" 
                        class="btn btn-outline-warning" 
                        onclick="eliminarJugador('/eliminarJugador/{{jugador.id_jug}}')">Eliminar</a>
              
                      </td>                      
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
      <script type="text/javascript" >
        function mostrarFormulario() {
            var formulario = document.getElementById('formulario');
            formulario.style.display = 'block';
        }
        function eliminarJugador(url){
            iziToast.question({
                timeout: 15000,
                close: true,
                overlay: true,
                displayMode: 'once',
                id: 'question',
                zindex: 999,
                title: 'Confirmacion',
                message: 'Esta seguro de eliminar el Jugador seleccionado',
                position: 'center',
                buttons: [
                    ['<button><b>SI</b></button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                        window.location.href=url;
                    }, true],
                    ['<button>NO</button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
        
                    }],
                ],
                onClosing: function(instance, toast, closedBy){
                    console.info('Closing | closedBy: ' + closedBy);
                },
                onClosed: function(instance, toast, closedBy){
                    console.info('Closed | closedBy: ' + closedBy);
                }
            });
        } 
        
    </script>
      
      
{% endblock %}